@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&family=Merriweather:wght@300;700;900&family=Montserrat:wght@100;200;300;500;800;900&family=Raleway:wght@500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    /* overflow-x: hidden; */
    font-family: 'Montserrat', sans-serif;
}
.nav1{
    height: 4vmax;
    background-color: #5d5d5d;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 50px;

}
.nav1 h3{
    font-size: 22px;
    color:rgba(0, 0, 0, 0.717);
    letter-spacing: 3px;
}
.nav1 ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    margin-right: 25%;
}
.nav1 ul a{
    text-decoration: none;
    font-weight: 500;
    color: white;
    padding: 0 0 5px 0;
    border-bottom: 2px solid transparent;
}
.nav1 ul a:hover{
    border-bottom: 2px solid yellowgreen;
}
.nav1 button{
    background-color: transparent;
    border: none;
    border-bottom: 2px solid transparent;
    color: white;
    font-size: 16px;
    padding: 0 0 5px 0;
    cursor: pointer;
}
.nav1 button:hover{
    border-bottom: 2px solid yellowgreen;
}
#works-boder{
    border-bottom: 2px solid yellowgreen;
}

.nav-work{
    display: none;
}
.nav-work-content1{
    position: absolute;
    top: 10%;
    left: 41%;
    z-index: 100;
    display: flex;
    gap: 30px;
    background-color: #5d5d5d;
    padding: 20px 40px;
    border-radius: 30px;
    
}
.nav-work-content-line1{
    height: 2vmax;
    width: 1.5vmax;
    position: absolute;
    background-color: #5d5d5d;
    top: -40%;
    left: 45%;
}
.nav-work-content1 a{
    text-decoration: none;
    font-size: 17px;
    color: white;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid transparent;
    cursor: pointer;
}
.nav-work-content1 a:hover{
    border-bottom: 2px solid yellowgreen;
}
.nav-work1:hover{
    border-bottom: 2px solid yellowgreen;
}

.work1{
    margin-top: 6%;
    position: relative;
}
.work1 h1{
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    font-size: 60PX;
    letter-spacing: 10px;
    word-spacing: 10px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}
.work-h1-line1{
    height: 1.4vmax;
    width: 19.5vmax;
    z-index: -1;
    border-radius: 0 30px 0 30px;
    position: absolute;
    background-color: yellow;
    top: 6.5%;
    left: 40%;
}

.work-bottom1{
    width: 100vw;
    height: 28.5vmax;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3%;
    background-color:rgba(135, 207, 235, 0.416);
}
.work-bottom-center1{
    width: 70%;
    height: 20vmax;
    display: flex;
    align-items: center;
}
.all-hover1{
    height: 25vmax;
    width: 50vmax;
    
}
.charted1{
    background: url(https://www.charteredbus.in/banner-aa25a75b4376f1541ca192d626a100670ab2161d22fbbdb87b6d5dab1b98c513.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* transform: translatex(1px); */
}
.unaca1{
    background: url(https://i.pinimg.com/originals/a5/ba/50/a5ba5089d23209c4b94488877bb7d80b.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.jio1{
    background: url(https://english.mathrubhumi.com/image/contentid/policy:1.7930396:1664898882/jio.PNG?$p=671995c&f=16x9&w=1080&q=0.8);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.poco1{
    background: url(https://www.xiaomiadictos.com/wp-content/uploads/2021/02/poco-nuevo-logo-xiaomi-mascota.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.ola1{
    background: url(https://cdn.neowin.com/news/images/uploaded/2020/10/1601846770_ola_story.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.swiggy1{
    background: url(https://miro.medium.com/max/1024/0*eLwr78MuzXQmFnzV);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.redbus1{
    background: url(https://st.redbus.in/Images/India/ContextualLogin/generic_banner_Ind.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.whatsapp1{
    background: url(https://images.unsplash.com/photo-1636751364472-12bfad09b451?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8d2hhdHNhcHAlMjBsb2dvfGVufDB8fDB8fA%3D%3D&w=1000&q=80);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.digital1{
    background: url(https://optimise2.assets-servd.host/squalid-loris/production/uploads/images/This-is-digital-LOW-RES-2.jpg?w=1200&h=1353&q=80&fm=webp&fit=crop&fp-x=0.5&fp-y=0.5&dm=1631002176&s=5d4bc2c79348dc9d5effc2ed0a267366);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.football1{
    background: url(https://www.teahub.io/photos/full/3-35991_best-football-wallpaper-best-football-players-2017.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.ev1{
    background: url(https://wallpapercave.com/wp/wp8000721.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.beer1{
    background: url(https://imgmedia.lbb.in/89972809_507869216542134_5183422242980712024_n_1590081749973.jpg);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
}
.rakt1{
    background: url(https://wallpapercave.com/wp/wp4323467.jpg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}
.ckd1{
    background: url(/ckd.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.developer1{
    background: url(https://www.technotification.com/wp-content/uploads/2018/08/ide-for-web-development.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.designer1{
    background: url(https://images.unsplash.com/photo-1611162617213-7d7a39e9b1d7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8ZmlnbWF8ZW58MHx8MHx8&w=1000&q=80);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}



.all-hover-bg1{
    height: 50%;
    width: 100%;
    background-color:  rgba(0, 0, 0, 0.653);
    position: absolute;
    z-index: 55;
    transform: translatey(-120%);
    transition: .50s;
    display: flex;
    align-items: center;
}
.all-hover-bg2 h2{
    font-size: 50px;
    text-transform: uppercase;
    color: white;
    padding: 20px 20px;
    font-family: 'Raleway', sans-serif;
}
.all-hover-bg2{
    height: 50%;
    width: 100%;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.653);
    position: absolute;
    display: flex;
    align-items: flex-end;
    transform: translatey(100%);
    transition: .50s;
}
.all-hover-bg1 hr{
    height: 0.2px;
    width: 100%;
    border: none;
    background-color: white;
    position: absolute;
    z-index: 555;
    top: 99.50%;
}
.all-hover-bg1 a{
    color: black;
    text-decoration: none;
    font-size: 25px;
    padding: 15px 30px;
    border-radius: 50px;
    background-color: white;
    display: flex;
    margin-left: 2.4%;
    margin-top: 0.90%;
    z-index: 999;
}
.slick-arrow{
    color: red;
}

.all-hover-bg1 a:hover{
    background-color: black;
    color: wheat;
}
.all-hover1:hover .all-hover-bg1{
    transform: translatey(0);
}
.all-hover1:hover .all-hover-bg2{
    transform: translatey(0);
}


.last{
    width: 100%;
    height: 10vmax;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 0 0 130px;
    background-color: black;
    margin-top: 10%;
}
.last h3{
    font-size: 50px;
    color: rgba(255, 255, 255, 0.642);
    padding:  0 0 0 35%;
    letter-spacing: 5px;
}
.last h4{
    margin-top: 1%;
    font-weight: 500;
    display: flex;
    align-items: center;
    color: white;
}
.last span{
    font-size: 25px;
   